<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Undead World - Homu</title>
  <link rel="stylesheet" type="text/css" href="../game.css">
</head>

<body>
  <div class="block" style="width:75%;margin:auto;">
    <h1>布告欄</h1>
    <% message_lines.each do |line| %>
    <%= line['id'] + ': ' + ERB::Util.html_escape(line['message']) + '<span style="float:right;">' + line['time_stamp'] + '</span><br>' %>
    <% end %>
  </div>
  <form class="block" style="width:75%;margin:auto;" action="./post" method="POST">
    <div style="width:100%;display:table;">
      <div style="display:table-cell;"><%= id %>:</div>
      <div style="display:table-cell;width:100%;"><input type="text" name="message" class="FormInput" style="width:100%"></div>
      <div style="display:table-cell;"><input type="Submit" value="送出" style="height:20px;border:0px;"></div>
    </div>
  </form>
</body>

</html>
