<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Chat Room</title>
  <script src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
  <script type="text/javascript">
    function sendMessage() {
      $.ajax({
        method: "POST",
        url: "send",
        data: { userId: "<%= @userId %>", message: message.value }
      });
    };
  </script>
</head>

<body>
  <div>
    <input type="text" id="message"><button onclick="sendMessage()">Send</button>
  </div>
  <span id="messageLines">
  </span>
</body>

<script type="text/javascript">
  var es = new EventSource('/chat/subject/<%= @userId %>');
  es.onmessage = function(e) {
    console.log(e.data);
    document.getElementById("messageLines").innerHTML += e.data + '<br>';
  };
</script>

</html>
