<%
  url = "http://homu.komica.org/00/index."
  head_title = " - 發表文章"
  if @no
    url += "php?res=#{params['no']}"
    head_title = " - <a href='./read/#{params['no']}'>#{params['no']}</a> - 回應文章"
  else
    url += "htm"
  end
%>


<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>發表文章 - 綜合 - KOMICA</title>
    <link rel="stylesheet" type="text/css" href="https://images.ptt.cc/v2.17/bbs-common.css">
    <link rel="stylesheet" type="text/css" href="https://images.ptt.cc/v2.17/bbs-base.css" media="screen">
    <link rel="stylesheet" type="text/css" href="https://images.ptt.cc/v2.17/bbs-custom.css">
    <link rel="stylesheet" type="text/css" href="https://images.ptt.cc/v2.17/pushstream.css" media="screen">
    <link rel="stylesheet" type="text/css" href="https://images.ptt.cc/v2.17/bbs-print.css" media="print">
    <style type="text/css">
    html, body
    {
        height: 100%;
        min-height: 100%;
        margin: 0;
        padding: 0;
    }

    iframe {
        width:100%;
        height: 100%;
        border: none;
        margin: 0px auto;
    }
    </style>
</head>

<body>
<div id="topbar-container"><div id="topbar" class="bbs-content"><span class='f7 hl'><a href='http://web.komica.org/' target='_blank'>KOMICA</a> - <a href='http://homu.komica.org/00/index.htm' target="_blank">綜合</a> - <a href='./'>討論串列表</a><%= head_title %></span></div></div>
<div style="width:100%; height:99%; min-height: 99%;">
<div style="width:100%; height:100%; min-height: 100%; margin: 0px auto;">

<iframe id='myframe' name='myframe' src='<%= url %>'></iframe>

</div>
</div>
</body>

</html>
