<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>發表文章 - 綜合 - KOMICA</title>
    <link rel="stylesheet" type="text/css" href="https://images.ptt.cc/v2.17/bbs-common.css">
    <link rel="stylesheet" type="text/css" href="https://images.ptt.cc/v2.17/bbs-base.css" media="screen">
    <link rel="stylesheet" type="text/css" href="https://images.ptt.cc/v2.17/bbs-custom.css">
    <link rel="stylesheet" type="text/css" href="https://images.ptt.cc/v2.17/pushstream.css" media="screen">
    <link rel="stylesheet" type="text/css" href="https://images.ptt.cc/v2.17/bbs-print.css" media="print">
    <script type="text/javascript">
        setTimeout( 
            function() {
                window.location = './';
            }, 2000 );
    </script>
</head>

<body>
<div id="main-container">
<div id="topbar-container"><div id="topbar" class="bbs-content"><span class='f7 hl'><a href='http://web.komica.org/' target='_blank'>KOMICA</a> - <a href='http://homu.komica.org/00/index.htm' target="_blank">綜合</a> - <a href='./'>討論串列表</a> - 發表文章</span></div></div>
<div id="main-content" class="bbs-screen bbs-content">
<span class='b7 f0'>
    請求已送出        
    將轉回先前頁面    
</span>
</div>
</div>
</body>

</html>
