
<%
  posts =
  [
    {
      "Title".to_sym => "無題",
      "Name".to_sym => "",
      "Date".to_sym => "17/07/31",
      "Time".to_sym => "18:41:25",
      "Id".to_sym => "A/0Q2Yqo",
      "No".to_sym => "9566758",
      "Picture".to_sym => "1501497685002.jpg",
      "Content".to_sym => "玩戰艦世界航母好爽\n開局想擊沉誰就擊沉誰\n想救哪個隊友就救哪個隊友\n哪個隊友很機掰就放生看他被擊沉了\n這種站在上帝視角的感覺真好"
    },
    {
      "Title".to_sym => "無題",
      "Name".to_sym => "",
      "Date".to_sym => "17/07/31",
      "Time".to_sym => "18:38:42",
      "Id".to_sym => "/QRo1fZw",
      "No".to_sym => "9566746",
      "Content".to_sym => "吃完晚餐該來射一發了!!"
    },
    {
      "Title".to_sym => "無題",
      "Name".to_sym => "",
      "Date".to_sym => "17/07/31",
      "Time".to_sym => "18:36:13",
      "Id".to_sym => "ddYzNZBU",
      "No".to_sym => "9566734",
      "Picture".to_sym => "1501497373838.jpg",
      "Content".to_sym => ".......！"
    },
    {
      "Title".to_sym => "無題",
      "Name".to_sym => "",
      "Date".to_sym => "17/07/31",
      "Time".to_sym => "18:35:53",
      "Id".to_sym => "0yArjVKE",
      "No".to_sym => "9566731",
      "Picture".to_sym => "1501497353477.webm",
      "Content".to_sym => "我跟媽媽說肚子餓了\n可是媽媽顧著看歌仔戲\n所以我就一直盧\n盧到媽媽放下手機去煮泡麵\n可是因為我實在太餓了\n於是我跑到街上買了一包鹹酥雞\n等鹹酥雞買回來\n泡麵也已經糊掉了"
    },
    {
      "Title".to_sym => "無題",
      "Name".to_sym => "",
      "Date".to_sym => "17/07/31",
      "Time".to_sym => "18:30:28",
      "Id".to_sym => "h46XoJ2w",
      "No".to_sym => "9566699",
      "Picture".to_sym => "1501497028846.jpg",
      "Content".to_sym => "最近想組一台電腦\n主要是文書用\n瀏覽器會開非常非常多分頁\n目前想i5+16GB RAM+200GB左右的SSD+1TB HDD\n詳細的硬體型號可以請大家幫忙嗎？"
    },
    {
      "Title".to_sym => "無題",
      "Name".to_sym => "",
      "Date".to_sym => "17/07/31",
      "Time".to_sym => "18:23:47",
      "Id".to_sym => "KBRoUZxg",
      "No".to_sym => "9566663",
      "Picture".to_sym => "1501496627990.jpg",
      "Content".to_sym => "昨天咖啡保全請下午茶，大家大口吃餅乾邊配咖啡\n吃著喝著咖啡保全就說\n\"幹!像你們這樣喝咖啡真的是糟蹋\"\n接著咖啡保全當場示範咖啡喝法，喝完又說\n\"幹!這咖啡澀澀不甘甜\"\n\"幹你娘，難喝死了\"\n說完就把咖啡倒在旁邊的動漫抱枕上\n接著咖啡保全叫我在去冰箱拿一罐偉恩咖啡\n請問咖啡保全換了多少套動漫抱枕"
    },
    {
      "Title".to_sym => "無題",
      "Name".to_sym => "",
      "Date".to_sym => "17/07/31",
      "Time".to_sym => "18:15:47",
      "Id".to_sym => "RCC87.xo",
      "No".to_sym => "9566606",
      "Picture".to_sym => "1501496147158.jpg",
      "Content".to_sym => "好痛喔～ 昨晚又被女生打"
    },
    {
      "Title".to_sym => "無題",
      "Name".to_sym => "",
      "Date".to_sym => "17/07/31",
      "Time".to_sym => "18:14:54",
      "Id".to_sym => "VPtRwVFQ",
      "No".to_sym => "9566603",
      "Picture".to_sym => "1501496094146.webm",
      "Content".to_sym => "無本文"
    },
    {
      "Title".to_sym => "無題",
      "Name".to_sym => "",
      "Date".to_sym => "17/07/31",
      "Time".to_sym => "18:11:33",
      "Id".to_sym => "7K4FdAkA",
      "No".to_sym => "9566587",
      "Picture".to_sym => "1501495893569.png",
      "Content".to_sym => "島民有沒有把圖丟上去會自己改成jojo的網頁啊??"
    },
    {
      "Title".to_sym => "無題",
      "Name".to_sym => "",
      "Date".to_sym => "17/07/31",
      "Time".to_sym => "18:04:49",
      "Id".to_sym => "Gpjq9KGw",
      "No".to_sym => "9566544",
      "Picture".to_sym => "1501495489470.jpg",
      "Content".to_sym => "康妮又中離了WWW"
    },
    {
      "Title".to_sym => "無題",
      "Name".to_sym => "",
      "Date".to_sym => "17/07/31",
      "Time".to_sym => "17:55:33",
      "Id".to_sym => "/QRo1fZw",
      "No".to_sym => "9566494",
      "Picture".to_sym => "1501494933921.jpg",
      "Content".to_sym => "好想舔!!\n\n這種低角度由下往上拍的照片到底要怎麼拍阿?\n\n不會被發現嗎?"
    },
    {
      "Title".to_sym => "無題",
      "Name".to_sym => "",
      "Date".to_sym => "17/07/31",
      "Time".to_sym => "17:51:16",
      "Id".to_sym => "1UOaomPE",
      "No".to_sym => "9566464",
      "Picture".to_sym => "1501494676818.jpg",
      "Content".to_sym => "我覺得男人看到本田就想強姦她\n不想強姦的應該是甲甲\n我話說完誰讚成誰反對"
    },
    {
      "Title".to_sym => "無題",
      "Name".to_sym => "",
      "Date".to_sym => "17/07/31",
      "Time".to_sym => "17:49:01",
      "Id".to_sym => "ujnygprM",
      "No".to_sym => "9566446",
      "Picture".to_sym => "1501494541395.jpg",
      "Content".to_sym => "島民啊!!!!!\n食我的曙光女神之寬恕呀!!!!"
    },
    {
      "Title".to_sym => "無題",
      "Name".to_sym => "",
      "Date".to_sym => "17/07/31",
      "Time".to_sym => "17:46:13",
      "Id".to_sym => "n2lHOKCU",
      "No".to_sym => "9566429",
      "Picture".to_sym => "1501494373181.jpg",
      "Content".to_sym => "https://www.youtube.com/watch?v=YQziwY-fVSw"
    },
    {
      "Title".to_sym => "無題",
      "Name".to_sym => "",
      "Date".to_sym => "17/07/31",
      "Time".to_sym => "17:45:00",
      "Id".to_sym => "QscrczPE",
      "No".to_sym => "9566420",
      "Picture".to_sym => "1501494300071.jpg",
      "Content".to_sym => "防災背包裡的緊急糧食推薦放那些食物啊?"
    },
    {
      "Title".to_sym => "無題",
      "Name".to_sym => "",
      "Date".to_sym => "17/07/31",
      "Time".to_sym => "17:43:15",
      "Id".to_sym => "BcQEx0gs",
      "No".to_sym => "9566407",
      "Picture".to_sym => "1501494195642.jpg",
      "Content".to_sym => "無本文"
    },
    {
      "Title".to_sym => "無題",
      "Name".to_sym => "",
      "Date".to_sym => "17/07/31",
      "Time".to_sym => "17:40:37",
      "Id".to_sym => "f4v.NA8s",
      "No".to_sym => "9566397",
      "Picture".to_sym => "1501494037174.jpg",
      "Content".to_sym => "kaggle是被攻擊嗎....\nf5一整天還是一直跳http error 503\n到底怎麼了"
    },
    {
      "Title".to_sym => "無題",
      "Name".to_sym => "",
      "Date".to_sym => "17/07/31",
      "Time".to_sym => "17:40:24",
      "Id".to_sym => "EsgEW53I",
      "No".to_sym => "9566394",
      "Picture".to_sym => "1501494024958.jpg",
      "Content".to_sym => "卡..卡特蓮娜"
    },
    {
      "Title".to_sym => "無題",
      "Name".to_sym => "",
      "Date".to_sym => "17/07/31",
      "Time".to_sym => "17:36:26",
      "Id".to_sym => "P5sagPYA",
      "No".to_sym => "9566375",
      "Content".to_sym => "physical a.身體上的"
    },
    {
      "Title".to_sym => "無題",
      "Name".to_sym => "",
      "Date".to_sym => "17/07/31",
      "Time".to_sym => "17:32:05",
      "Id".to_sym => "u5HRKolQ",
      "No".to_sym => "9566339",
      "Content".to_sym => "黃國昌自2016年當選立委以來，在同婚議題、年金改革操作上引發強烈民怨，給予民眾作秀的負面觀感；不少地方民眾也認為，黃國昌在汐止、瑞芳選區缺乏深度經營，更讓在地選民反感，近3萬人響應罷免連署，不僅是反黃的民意展現，也讓黃距離罷免門檻越來越近。從連署人的政治立場分析，除了深藍族群外，淺綠支持者約占連署人數五分之二，中間選民也占五分之一。\n北北基安定力量聯盟發起人孫繼正表示，這次罷昌行動不分藍綠皆響應連署，他分析原因有三：第一，中央執政造成經濟不景氣，人心惶惶，黃國昌支持同婚和年改，操作議題不當造成族群撕裂，成為反對民意宣洩出口；其次，黃國昌在立院及地方會勘作秀行為令人唾棄；甚至包括黃國昌前戰友退出時力、過去黃支持者響應罷免，都有殺傷力。\n孫繼正指出，參與連署2萬8000人中，35歲至60歲以上民眾占7成，多是在地上班族、已婚族群，憂心校園多元性教育氾濫影響孩子成長。另外，約2成65歲以上退休軍公教及長者，無法接受同婚法通過可能造成絕子絕孫危機。"
    },
    {
      "Title".to_sym => "無題",
      "Name".to_sym => "",
      "Date".to_sym => "17/07/31",
      "Time".to_sym => "17:21:43",
      "Id".to_sym => "4sSt6xCc",
      "No".to_sym => "9566263",
      "Picture".to_sym => "1501492903505.jpg",
      "Content".to_sym => "無本文"
    },
    {
      "Title".to_sym => "無題",
      "Name".to_sym => "",
      "Date".to_sym => "17/07/31",
      "Time".to_sym => "17:15:20",
      "Id".to_sym => "ujnygprM",
      "No".to_sym => "9566212",
      "Picture".to_sym => "1501492520432.jpg",
      "Content".to_sym => "ふぅ…開頭的H就射一發了\n等賢者CD結束再跑"
    },
    {
      "Title".to_sym => "無題",
      "Name".to_sym => "",
      "Date".to_sym => "17/07/31",
      "Time".to_sym => "16:54:42",
      "Id".to_sym => "NvCMZjWk",
      "No".to_sym => "9566105",
      "Picture".to_sym => "1501491282585.jpg",
      "Content".to_sym => "無本文"
    },
    {
      "Title".to_sym => "無題",
      "Name".to_sym => "",
      "Date".to_sym => "17/07/31",
      "Time".to_sym => "16:49:43",
      "Id".to_sym => "2nNyH7VE",
      "No".to_sym => "9566061",
      "Content".to_sym => "我的雞雞...\nhttps://www.youtube.com/watch?v=cO-0dPl1rtw"
    },
    {
      "Title".to_sym => "無題",
      "Name".to_sym => "",
      "Date".to_sym => "17/07/31",
      "Time".to_sym => "16:37:41",
      "Id".to_sym => "pQqIbfhA",
      "No".to_sym => "9565984",
      "Picture".to_sym => "1501490261415.png",
      "Content".to_sym => "是愛 是愛啊 娜娜奇"
    },
    {
      "Title".to_sym => "無題",
      "Name".to_sym => "",
      "Date".to_sym => "17/07/31",
      "Time".to_sym => "16:35:18",
      "Id".to_sym => "COajN.36",
      "No".to_sym => "9565963",
      "Picture".to_sym => "1501490118488.jpg",
      "Content".to_sym => "有島民已經入手這款了嗎\n這款在台灣應該還算稀有品\n\n有想買一個\n但是從構造來看感覺超級難洗、難晾乾\n稍微翻開來洗一下就會裂開的樣子"
    },
    {
      "Title".to_sym => "無題",
      "Name".to_sym => "",
      "Date".to_sym => "17/07/31",
      "Time".to_sym => "16:29:17",
      "Id".to_sym => "2nNyH7VE",
      "No".to_sym => "9565925",
      "Content".to_sym => "PM2.5指標　8月起走入歷史\n2017/07/31 16:21 0\n環保署去年12月1日起實施AQI空氣品質指標，整合過去PSI空氣污染指標及PM2.5指標的雙指標，造成民眾解讀困擾的問題，但有部分環團及民眾質疑AQI是在「粉飾」PM2.5嚴重情形，環署仍在官網提供舊式PM2.5指標供民眾參考，但環署今宣布，8月1日停止提供PM2.5指標。\n\n環團鬧笑話又一例"
    },
    {
      "Title".to_sym => "無題",
      "Name".to_sym => "",
      "Date".to_sym => "17/07/31",
      "Time".to_sym => "16:29:16",
      "Id".to_sym => "ASaUtqDk",
      "No".to_sym => "9565924",
      "Picture".to_sym => "1501489756747.png",
      "Content".to_sym => "無本文"
    },
    {
      "Title".to_sym => "幫我",
      "Name".to_sym => "",
      "Date".to_sym => "17/07/31",
      "Time".to_sym => "16:03:45",
      "Id".to_sym => "uAsvsUfU",
      "No".to_sym => "9565750",
      "Content".to_sym => "https://gifts.steamreserved.com/?id=vdqdsLsq"
    },
    {
      "Title".to_sym => "無題",
      "Name".to_sym => "",
      "Date".to_sym => "17/07/31",
      "Time".to_sym => "15:49:06",
      "Id".to_sym => "c41JHtNo",
      "No".to_sym => "9565659",
      "Picture".to_sym => "1501487346149.jpg",
      "Content".to_sym => "姆咪～"
    },
    {
      "Title".to_sym => "無題",
      "Name".to_sym => "",
      "Date".to_sym => "17/07/31",
      "Time".to_sym => "15:27:59",
      "Id".to_sym => "hP/hDE8I",
      "No".to_sym => "9565571",
      "Content".to_sym => "https://twitter.com/netgeekAnimal/status/891153844339523584"
    },
    {
      "Title".to_sym => "無題",
      "Name".to_sym => "",
      "Date".to_sym => "17/07/31",
      "Time".to_sym => "14:54:33",
      "Id".to_sym => "nkcva7ec",
      "No".to_sym => "9565333",
      "Picture".to_sym => "1501484073719.jpg",
      "Content".to_sym => "見知らぬ顔探す　囁くあの声が\n握り締めた刃衝きたて　すべてを奪えと\n孤児集う城　笑み仮面に描いて\n偽りの慈しみさえ　羽で包む熾天使\n\nhttps://www.youtube.com/watch?v=GxiD8zKQTLA"
    },
    {
      "Title".to_sym => "無題",
      "Name".to_sym => "",
      "Date".to_sym => "17/07/31",
      "Time".to_sym => "14:41:23",
      "Id".to_sym => "sQFZgOZg",
      "No".to_sym => "9565222",
      "Content".to_sym => "司馬懿\n諸葛亮\n2人都是養寇自重\n互相利用?"
    },
    {
      "Title".to_sym => "無題",
      "Name".to_sym => "",
      "Date".to_sym => "17/07/31",
      "Time".to_sym => "14:41:12",
      "Id".to_sym => "NOMdvDVA",
      "No".to_sym => "9565220",
      "Picture".to_sym => "1501483272625.jpg",
      "Content".to_sym => "廖培成出來講啊"
    },
    {
      "Title".to_sym => "無題",
      "Name".to_sym => "",
      "Date".to_sym => "17/07/31",
      "Time".to_sym => "14:41:04",
      "Id".to_sym => "1dgnR.SY",
      "No".to_sym => "9565217",
      "Picture".to_sym => "1501483264943.png",
      "Content".to_sym => "這到底是怎樣\n是要倒了喔\n\n剛剛打完LLSIF活動\n那我要回去打CGSS和BanG Dream活動了"
    },
    {
      "Title".to_sym => "無題",
      "Name".to_sym => "",
      "Date".to_sym => "17/07/31",
      "Time".to_sym => "14:04:26",
      "Id".to_sym => "HFTSOb1c",
      "No".to_sym => "9565007",
      "Picture".to_sym => "1501481066693.jpg",
      "Content".to_sym => "無本文"
    },
    {
      "Title".to_sym => "無題",
      "Name".to_sym => "",
      "Date".to_sym => "17/07/31",
      "Time".to_sym => "13:58:28",
      "Id".to_sym => "7pDR0Zg6",
      "No".to_sym => "9564972",
      "Picture".to_sym => "1501480708852.jpg",
      "Content".to_sym => "我在絕情谷底等你..."
    },
    {
      "Title".to_sym => "無題",
      "Name".to_sym => "",
      "Date".to_sym => "17/07/31",
      "Time".to_sym => "13:49:51",
      "Id".to_sym => "xcBmVUhI",
      "No".to_sym => "9564930",
      "Picture".to_sym => "1501480191228.jpg",
      "Content".to_sym => "外表學妹，內裝惠惠\n\n在想 幾年後的小學 484很多女生叫做惠惠= ="
    },
    {
      "Title".to_sym => "無題",
      "Name".to_sym => "",
      "Date".to_sym => "17/07/31",
      "Time".to_sym => "13:49:02",
      "Id".to_sym => "102h1N5.",
      "No".to_sym => "9564928",
      "Picture".to_sym => "1501480142189.jpg",
      "Content".to_sym => "剛剛在網路上看到這張圖\n有好心的島民知道這是哪一部作品可以告訴我的嗎?"
    },
    {
      "Title".to_sym => "無題",
      "Name".to_sym => "",
      "Date".to_sym => "17/07/31",
      "Time".to_sym => "13:43:42",
      "Id".to_sym => "I4kGhDho",
      "No".to_sym => "9564907",
      "Picture".to_sym => "1501479822281.jpg",
      "Content".to_sym => "我要是主角一定先強姦她"
    },
    {
      "Title".to_sym => "無題",
      "Name".to_sym => "",
      "Date".to_sym => "17/07/31",
      "Time".to_sym => "13:21:11",
      "Id".to_sym => "ktReE0LQ",
      "No".to_sym => "9564796",
      "Picture".to_sym => "1501478471498.jpg",
      "Content".to_sym => "這個被吹倒我覺得好爽"
    },
    {
      "Title".to_sym => "無題",
      "Name".to_sym => "",
      "Date".to_sym => "17/07/31",
      "Time".to_sym => "12:52:18",
      "Id".to_sym => "ve6hVlxs",
      "No".to_sym => "9564638",
      "Picture".to_sym => "1501476738845.gif",
      "Content".to_sym => "島民被打爆小雞雞三周年記念サイト!!!\n只剩下1分鐘!!!!!!!!!!!!!!!!!!!!!!!!!!!"
    },
    {
      "Title".to_sym => "無題",
      "Name".to_sym => "",
      "Date".to_sym => "17/07/31",
      "Time".to_sym => "12:45:06",
      "Id".to_sym => "iP5keVdA",
      "No".to_sym => "9564590",
      "Content".to_sym => "有島民在用chromecast嗎?\n看起來好像很方便 隨時都能用電視看電影"
    },
    {
      "Title".to_sym => "無題",
      "Name".to_sym => "",
      "Date".to_sym => "17/07/31",
      "Time".to_sym => "12:21:12",
      "Id".to_sym => "L/9tnt0.",
      "No".to_sym => "9564435",
      "Picture".to_sym => "1501474872490.jpg",
      "Content".to_sym => "有本文"
    },
    {
      "Title".to_sym => "無題",
      "Name".to_sym => "",
      "Date".to_sym => "17/07/31",
      "Time".to_sym => "12:07:11",
      "Id".to_sym => "Hl7qOTr2",
      "No".to_sym => "9564369",
      "Content".to_sym => "fluency n. 流利"
    },
    {
      "Title".to_sym => "無題",
      "Name".to_sym => "",
      "Date".to_sym => "17/07/31",
      "Time".to_sym => "11:58:43",
      "Id".to_sym => "b2DT4aKk",
      "No".to_sym => "9564332",
      "Content".to_sym => "第 179t 明天撥交喔"
    },
    {
      "Title".to_sym => "無題",
      "Name".to_sym => "",
      "Date".to_sym => "17/07/31",
      "Time".to_sym => "11:46:04",
      "Id".to_sym => "NCGW26x2",
      "No".to_sym => "9564285",
      "Picture".to_sym => "1501472764394.jpg",
      "Content".to_sym => "無本文"
    },
    {
      "Title".to_sym => "無題",
      "Name".to_sym => "",
      "Date".to_sym => "17/07/31",
      "Time".to_sym => "11:37:42",
      "Id".to_sym => "r/snkGPQ",
      "No".to_sym => "9564230",
      "Picture".to_sym => "1501472262975.jpg",
      "Content".to_sym => "中午到了\nhttps://www.youtube.com/watch?v=2Dxez785kKc"
    },
    {
      "Title".to_sym => "無題",
      "Name".to_sym => "",
      "Date".to_sym => "17/07/31",
      "Time".to_sym => "11:35:04",
      "Id".to_sym => "gQHChe3A",
      "No".to_sym => "9564209",
      "Picture".to_sym => "1501472104707.jpg",
      "Content".to_sym => "無本文"
    },
    {
      "Title".to_sym => "無題",
      "Name".to_sym => "",
      "Date".to_sym => "17/07/31",
      "Time".to_sym => "11:34:12",
      "Id".to_sym => "muJDfMGU",
      "No".to_sym => "9564201",
      "Picture".to_sym => "1501472052282.jpg",
      "Content".to_sym => "我以前覺得男生看女性向漫畫沒啥\n\n後來我發現身邊愛看女性向漫畫的男性朋友\n\n不是甲甲就是自我性別認同錯亂的男生\n\n我就有點改觀了\n\n我現在是覺得\n\n會去看女性向的東西\n\n代表著內心裡某一部份\n\n有屬於女生的那種慾望\n\n這真的該注意一下"
    },
    {
      "Title".to_sym => "無題",
      "Name".to_sym => "",
      "Date".to_sym => "17/07/31",
      "Time".to_sym => "11:26:57",
      "Id".to_sym => "DC2qr3Zk",
      "No".to_sym => "9564172",
      "Picture".to_sym => "1501471617399.jpg",
      "Content".to_sym => "徵求台北玻璃櫃訂做的\n推薦商家！\n有島民去跑過環河嗎？"
    },
    {
      "Title".to_sym => "無題",
      "Name".to_sym => "",
      "Date".to_sym => "17/07/31",
      "Time".to_sym => "11:26:24",
      "Id".to_sym => "GE9E0snM",
      "No".to_sym => "9564169",
      "Picture".to_sym => "1501471584137.png",
      "Content".to_sym => "謎之音:芙蘭487"
    },
    {
      "Title".to_sym => "無題",
      "Name".to_sym => "",
      "Date".to_sym => "17/07/31",
      "Time".to_sym => "11:25:57",
      "Id".to_sym => "muJDfMGU",
      "No".to_sym => "9564165",
      "Picture".to_sym => "1501471557297.png",
      "Content".to_sym => "一張照片引殺機　男童看到爸爸穿女裝還吃屎"
    },
    {
      "Title".to_sym => "無題",
      "Name".to_sym => "",
      "Date".to_sym => "17/07/31",
      "Time".to_sym => "11:15:40",
      "Id".to_sym => "2nNyH7VE",
      "No".to_sym => "9564116",
      "Picture".to_sym => "1501470940058.jpg",
      "Content".to_sym => "我在月初的某天晚上在黑黑的房間裡睡覺時,因為當時還沒睡著,我眼睛閉著,我在張開眼的瞬間雙眼看到的是一片全白光(或是稱閃光?)一兩秒後視線才恢復看到房間的景象\n\n我實在很擔心是不是腦袋有東西?有人有類似情況嗎?是不是該掛腦神經科去照電腦斷層?我前年中有做過腦波當時也是正常的.不曉得還有什麼狀況會造成看到白光?有可能只是偶發性的嗎?\n\n因最近也會一直耳鳴,耳朵裡一直會有聲音(鼻竇炎中出現,又接著感冒),一直很害怕是不是有其它的狀況...有沒有人可以提供一些經驗和看法?我因最近的身體狀況看了很多科都說沒問題,不知道該怎麼辦"
    },
    {
      "Title".to_sym => "無題",
      "Name".to_sym => "",
      "Date".to_sym => "17/07/31",
      "Time".to_sym => "11:04:57",
      "Id".to_sym => "8BssaSEo",
      "No".to_sym => "9564080",
      "Picture".to_sym => "1501470297465.jpg",
      "Content".to_sym => "無本文"
    },
    {
      "Title".to_sym => "無題",
      "Name".to_sym => "",
      "Date".to_sym => "17/07/31",
      "Time".to_sym => "09:38:15",
      "Id".to_sym => "Dko93sRI",
      "No".to_sym => "9563718",
      "Picture".to_sym => "1501465095353.jpg",
      "Content".to_sym => "無本文"
    },
    {
      "Title".to_sym => "無題",
      "Name".to_sym => "",
      "Date".to_sym => "17/07/31",
      "Time".to_sym => "09:14:12",
      "Id".to_sym => "CNFTcAfY",
      "No".to_sym => "9563616",
      "Picture".to_sym => "1501463652623.png",
      "Content".to_sym => "在台韓國人：\n\" 來台灣以前   以為台灣是很有錢的國家\n\n來台灣後   發現台灣人都騎摩托車   有一點失望\n\n在韓國  騎摩托車的人  都是比較沒有錢的 \"\n\nhttps://www.youtube.com/watch?v=1T-hS_aHwjY&feature=youtu.be&t=316"
    },
    {
      "Title".to_sym => "無題",
      "Name".to_sym => "",
      "Date".to_sym => "17/07/31",
      "Time".to_sym => "09:11:33",
      "Id".to_sym => "QxOskffA",
      "No".to_sym => "9563600",
      "Picture".to_sym => "1501463493286.png",
      "Content".to_sym => "旅輪舊式艦"
    },
    {
      "Title".to_sym => "無題",
      "Name".to_sym => "",
      "Date".to_sym => "17/07/31",
      "Time".to_sym => "09:00:16",
      "Id".to_sym => "Iycb7k8Y",
      "No".to_sym => "9563554",
      "Content".to_sym => "粗霜丸今天不見了 果然他就是支那波畜"
    },
    {
      "Title".to_sym => "無題",
      "Name".to_sym => "",
      "Date".to_sym => "17/07/31",
      "Time".to_sym => "08:37:37",
      "Id".to_sym => "WlLZovXc",
      "No".to_sym => "9563475",
      "Picture".to_sym => "1501461457281.jpg",
      "Content".to_sym => "無本文"
    },
    {
      "Title".to_sym => "無題",
      "Name".to_sym => "",
      "Date".to_sym => "17/07/31",
      "Time".to_sym => "08:14:16",
      "Id".to_sym => "dRGUkPeE",
      "No".to_sym => "9563380",
      "Picture".to_sym => "1501460056832.jpg",
      "Content".to_sym => "貼可憐救綜合!!!"
    },
    {
      "Title".to_sym => "無題",
      "Name".to_sym => "",
      "Date".to_sym => "17/07/31",
      "Time".to_sym => "08:05:54",
      "Id".to_sym => "Q/BkdMkI",
      "No".to_sym => "9563321",
      "Picture".to_sym => "1501459554255.jpg",
      "Content".to_sym => "洗板洗大半夜的\n你以為在偷倒廢水ㄛ"
    },
    {
      "Title".to_sym => "無題",
      "Name".to_sym => "",
      "Date".to_sym => "17/07/31",
      "Time".to_sym => "08:05:35",
      "Id".to_sym => "JUsn/Z2.",
      "No".to_sym => "9563319",
      "Picture".to_sym => "1501459535779.jpg",
      "Content".to_sym => "貼雷姆救綜合"
    },
    {
      "Title".to_sym => "無題",
      "Name".to_sym => "",
      "Date".to_sym => "17/07/31",
      "Time".to_sym => "08:02:55",
      "Id".to_sym => "gQHChe3A",
      "No".to_sym => "9563298",
      "Picture".to_sym => "1501459375157.jpg",
      "Content".to_sym => "貼雷姆救綜合"
    },
    {
      "Title".to_sym => "無題",
      "Name".to_sym => "",
      "Date".to_sym => "17/07/31",
      "Time".to_sym => "08:02:02",
      "Id".to_sym => "gQHChe3A",
      "No".to_sym => "9563292",
      "Picture".to_sym => "1501459322276.jpg",
      "Content".to_sym => "貼雷姆救綜合"
    },
    {
      "Title".to_sym => "無題",
      "Name".to_sym => "",
      "Date".to_sym => "17/07/31",
      "Time".to_sym => "07:49:48",
      "Id".to_sym => "u5HRKolQ",
      "No".to_sym => "9563181",
      "Picture".to_sym => "1501458588756.jpg",
      "Content".to_sym => "完成度還真高阿"
    },
    {
      "Title".to_sym => "無題",
      "Name".to_sym => "",
      "Date".to_sym => "17/07/31",
      "Time".to_sym => "07:49:02",
      "Id".to_sym => "C6S/vGXU",
      "No".to_sym => "9563172",
      "Picture".to_sym => "1501458542760.webm",
      "Content".to_sym => "無本文"
    },
    {
      "Title".to_sym => "無題",
      "Name".to_sym => "",
      "Date".to_sym => "17/07/31",
      "Time".to_sym => "07:45:55",
      "Id".to_sym => "4WUPvLco",
      "No".to_sym => "9563153",
      "Picture".to_sym => "1501458355318.jpg",
      "Content".to_sym => "阿歐  是你嗎"
    },
    {
      "Title".to_sym => "無題",
      "Name".to_sym => "",
      "Date".to_sym => "17/07/31",
      "Time".to_sym => "07:44:35",
      "Id".to_sym => "P5oP.2Bs",
      "No".to_sym => "9563137",
      "Picture".to_sym => "1501458275649.jpg",
      "Content".to_sym => "歪國人快滾出綜合ㄛ~"
    },
    {
      "Title".to_sym => "無題",
      "Name".to_sym => "",
      "Date".to_sym => "17/07/31",
      "Time".to_sym => "07:41:36",
      "Id".to_sym => "BLk9C1gg",
      "No".to_sym => "9563102",
      "Picture".to_sym => "1501458096682.gif",
      "Content".to_sym => "無本文"
    },
    {
      "Title".to_sym => "無題",
      "Name".to_sym => "",
      "Date".to_sym => "17/07/31",
      "Time".to_sym => "07:13:19",
      "Id".to_sym => "DugzehHY",
      "No".to_sym => "9562861",
      "Picture".to_sym => "1501456399308.jpg",
      "Content".to_sym => "無本文"
    },
    {
      "Title".to_sym => "無題",
      "Name".to_sym => "",
      "Date".to_sym => "17/07/31",
      "Time".to_sym => "07:35:35",
      "Id".to_sym => "23MyL9xY",
      "No".to_sym => "9563045",
      "Picture".to_sym => "1501457735191.gif",
      "Content".to_sym => "test"
    },
    {
      "Title".to_sym => "無題",
      "Name".to_sym => "",
      "Date".to_sym => "17/07/31",
      "Time".to_sym => "07:28:28",
      "Id".to_sym => "CNFTcAfY",
      "No".to_sym => "9562980",
      "Content".to_sym => "抓到他媽的垃圾洗版狗了\n他在別串自首了"
    },
    {
      "Title".to_sym => "無題",
      "Name".to_sym => "",
      "Date".to_sym => "17/07/31",
      "Time".to_sym => "07:27:05",
      "Id".to_sym => "DugzehHY",
      "No".to_sym => "9562967",
      "Picture".to_sym => "1501457225499.jpg",
      "Content".to_sym => "無本文"
    },
    {
      "Title".to_sym => "無題",
      "Name".to_sym => "",
      "Date".to_sym => "17/07/31",
      "Time".to_sym => "07:21:04",
      "Id".to_sym => "AwxEsfuw",
      "No".to_sym => "9562913",
      "Picture".to_sym => "1501456864600.jpg",
      "Content".to_sym => "無本文"
    },
    {
      "Title".to_sym => "無題",
      "Name".to_sym => "",
      "Date".to_sym => "17/07/31",
      "Time".to_sym => "07:08:35",
      "Id".to_sym => "DugzehHY",
      "No".to_sym => "9562826",
      "Picture".to_sym => "1501456115429.jpg",
      "Content".to_sym => "無本文"
    },
    {
      "Title".to_sym => "無題",
      "Name".to_sym => "",
      "Date".to_sym => "17/07/31",
      "Time".to_sym => "07:10:10",
      "Id".to_sym => "JDBxlbAA",
      "No".to_sym => "9562836",
      "Picture".to_sym => "1501456210086.jpg",
      "Content".to_sym => "一早起來發現綜合被洗版了\n先來看戰鬥姆咪學園第5集壓壓驚"
    },
    {
      "Title".to_sym => "無題",
      "Name".to_sym => "",
      "Date".to_sym => "17/07/31",
      "Time".to_sym => "06:51:00",
      "Id".to_sym => "xKS1C5pE",
      "No".to_sym => "9562708",
      "Content".to_sym => "俄國也阻翻牆　普丁簽署立法禁VPN\n\n翻攝網路\n字級：最小字型預設最大字型\n分享到 Facebook分享到 Plurk分享到 Twitter2017年07月31日02:45      \n中國加強網路審查，封鎖VPN阻止個人用戶翻牆，俄羅斯也立法禁止使用VPN，政府官網30日公布顯示總統普丁已簽署法案禁止翻牆上網，將於11月1日起實施。\n該法案先前已在國會通過，禁止使用VPN、Tor和代理伺服器，讓民眾不能匿名上網或是登入遭俄國政府禁止的網站。國會表示此法並非是要限制守法的民眾，而是要預防民眾上非法網站。（國際中心／綜合外電報導）"
    },
    {
      "Title".to_sym => "無題",
      "Name".to_sym => "",
      "Date".to_sym => "17/07/31",
      "Time".to_sym => "06:49:00",
      "Id".to_sym => "ASaUtqDk",
      "No".to_sym => "9562698",
      "Picture".to_sym => "1501454940019.png",
      "Content".to_sym => "中国吃大便"
    },
    {
      "Title".to_sym => "無題",
      "Name".to_sym => "",
      "Date".to_sym => "17/07/31",
      "Time".to_sym => "06:48:57",
      "Id".to_sym => "MkhNJAFc",
      "No".to_sym => "9562697",
      "Picture".to_sym => "1501454937418.jpg",
      "Content".to_sym => "手機不要滑大便"
    },
    {
      "Title".to_sym => "無題",
      "Name".to_sym => "",
      "Date".to_sym => "17/07/31",
      "Time".to_sym => "06:41:57",
      "Id".to_sym => "bEG31SDY",
      "No".to_sym => "9562641",
      "Picture".to_sym => "1501454517364.png",
      "Content".to_sym => "無本文"
    },
    {
      "Title".to_sym => "無題",
      "Name".to_sym => "",
      "Date".to_sym => "17/07/31",
      "Time".to_sym => "06:36:46",
      "Id".to_sym => "2nNyH7VE",
      "No".to_sym => "9562603",
      "Content".to_sym => "又有人用VPN被逮了\n\n臉書po文恐嚇嗆殺議員　憂鬱男遭訴\n2017/07/30 14:38 6\n台北市議員王欣儀、立委顏寬恆、花蓮縣長傅崐萁等人，去年底遭人在臉書上貼文恐嚇，留言內容包括威脅施放汽油彈，製作顏寬恆的遺照張貼在顏的臉書上，甚至撰寫「姦殺妳」、「槍殺」等恐嚇字詞，眾人報警後，檢警查出，罹患憂鬱症的37歲黃姓男子涉案，搜索黃男住處，查出電腦中有多則恐嚇殺害訊息，黃男也坦承犯案，台北地檢署日前依恐嚇危安等罪起訴黃男。\n檢警調查，黃男是電腦工程師，曾有恐嚇、妨害風化等前科，對政治特別狂熱，時常收看政論節目，且罹患憂鬱症，疑似不滿王欣儀等人的政治立場，才留言恐嚇。\n去年底黃男為了躲避查緝，刻意隱藏IP，利用日本VPN當跳板，再冒用他人身分設立假帳號發文。陸續到台北市議員王欣儀的臉書，以帳號「韓立德」、「殺掉王欣儀母子-歡迎報警查IP」、「Asdasdasd Asdasdasd」及「Naiiara Carvalho」等網友刊登恐嚇殺害等訊息，還在臉書上PO文揚言「槍殺傅崑萁」，罵前市議員鍾小平「色情狂」等字詞。\n檢警搜索黃男住處，果然查出相關恐嚇訊息，黃男也坦承犯案"
    },
    {
      "Title".to_sym => "無題",
      "Name".to_sym => "",
      "Date".to_sym => "17/07/31",
      "Time".to_sym => "06:34:01",
      "Id".to_sym => "7AmFUb9o",
      "No".to_sym => "9562581",
      "Picture".to_sym => "1501454041436.jpg",
      "Content".to_sym => "管管現在一定超爽\n\n廣告流量暴表"
    },
    {
      "Title".to_sym => "無題",
      "Name".to_sym => "",
      "Date".to_sym => "17/07/31",
      "Time".to_sym => "06:19:40",
      "Id".to_sym => "2nNyH7VE",
      "No".to_sym => "9562482",
      "Picture".to_sym => "1501453180672.jpg",
      "Content".to_sym => "裝傻就好了\n我之前去銀行開戶\n他問我要不要辦信用卡\n我說喔好吧\n他就叫我要補文件\n然後一走出去我就忘了這件事\n中間有催我兩次\n我都說喔喔喔敷衍他\n然後\n過沒多久她就打給我說我的信用卡好了"
    },
    {
      "Title".to_sym => "今天不是社畜社畜的一天= =",
      "Name".to_sym => "",
      "Date".to_sym => "17/07/31",
      "Time".to_sym => "06:19:35",
      "Id".to_sym => "i8Vf7IPQ",
      "No".to_sym => "9562480",
      "Picture".to_sym => "1501453175373.jpg",
      "Content".to_sym => "山豬國大雨下整夜 外面天色跟傍晚差不多暗 \n今天放假來補番"
    },
    {
      "Title".to_sym => "無題",
      "Name".to_sym => "",
      "Date".to_sym => "17/07/31",
      "Time".to_sym => "06:10:41",
      "Id".to_sym => "9cZsTRuw",
      "No".to_sym => "9562418",
      "Content".to_sym => "俄國主人摸摸頭~♫\n\n握手~ 換手~ 再坐下~♫\n\n波蘭狗~ 吐舌頭~♫\n\n搖搖尾巴~ 哈哈哈~♫\n\n　　　　　　　　　　　 ▲ ▲\n　　　　　　　　　　 /　 V　ヽ　\n　　　　　　 　　　　| 　ｌ　ｌ　|\n　　　　　　　　　　.| 　　　　.|_､_,,_,,,　　 　ｵｼｵｷ ﾀｲﾑﾀﾞﾖ　\n　　　　　　 /´`''\" '\"´｀`Y'\"\"｀`'j 　 ヽ　　　\n　　　　　　{　,ﾉ' i|　,. ,､ ,,|,,. ､_/´ ,-,,.;;l　　　\n　　　　　　'､ ヾ ,`''-‐‐'''\"￣_{　,ﾉi,､;;;ﾉ　　　\n　　　　　　 ヽ､,　　,.-　,.,'／`''｀,,_　,,/\n　　　　　　　　`''ゞ-‐'\"　`'ヽ､,,､,､,,r'\n　　　　　　　　　 ,ﾉ　 ヾ　 ,,　''\";l　\n　　　　　　　　 ./　　　　　　　　;ヽ　\n　　　　　　　　.l　　　ヽ,,　 ,/　　 ;;;l　　　　　　\n　　　　　　　　|　　　 ,ヽ,, /　　　 ;;;|　　　\n　　　　　　　　|　　　,' ;;;l l ;;'i,　　　;|　　　　　　\n　　　　　　　 li　　 /　 /　l `'ヽ,　､;|　　　　\n　　　　　　　l　jヾノ ,ノ　　ヽ　 l　 ,i|　　　　　\n　　　　　　　l`'''\"　ヽ　　　　`l: `''\"`i　　　　\n　　　　　　　.l ,. i,'　 }　　　　 li '､ ;;' |　 　　　\n　　　　　　　　l ; j　/ _, -― '￣￣｀ー‐-､_　　\n　, .--､,,＿_,,-'￣;;\"`´　;;　__　　__, -―- ､;;￣￣｀l　\n　;;　　,__　　 ;;'　　　 r ' ´;;;　ヽ_ゝ_;;|　　　　lヽ, /　.|\n;, Y´|　l　　__　 ／`'| |　　　|　 l 　l;|　　　　 l ヽ l .\n　 |　|.;;l_,-'l | V | |.l　.|　　 .|　　　 l　 i i　　 | ;lヽ|　\n　|.| ''.|/ l　　|;;;| | | |　;|　　|　　　|　;l l|　i ;;;;　l | l　　　　\n;; i /　　 .il /| |.| |　 | 　 i　 |　　　| l　i　　'`i l /　"
    },
    {
      "Title".to_sym => "無題",
      "Name".to_sym => "",
      "Date".to_sym => "17/07/31",
      "Time".to_sym => "06:02:22",
      "Id".to_sym => "6HsvoTqs",
      "No".to_sym => "9562365",
      "Picture".to_sym => "1501452142911.png",
      "Content".to_sym => "http://diep.io/"
    },
    {
      "Title".to_sym => "無題",
      "Name".to_sym => "",
      "Date".to_sym => "17/07/31",
      "Time".to_sym => "05:59:15",
      "Id".to_sym => "6mV/2Uv2",
      "No".to_sym => "9562352",
      "Picture".to_sym => "1501451955667.jpg",
      "Content".to_sym => "takbym was napierdalał"
    },
    {
      "Title".to_sym => "無題",
      "Name".to_sym => "",
      "Date".to_sym => "17/07/31",
      "Time".to_sym => "05:53:19",
      "Id".to_sym => "YWAUkkQI",
      "No".to_sym => "9562314",
      "Picture".to_sym => "1501451599434.jpg",
      "Content".to_sym => "破嵐万丈"
    },
    {
      "Title".to_sym => "無題",
      "Name".to_sym => "",
      "Date".to_sym => "17/07/31",
      "Time".to_sym => "05:36:10",
      "Id".to_sym => "JPrg1Tmw",
      "No".to_sym => "9562244",
      "Picture".to_sym => "1501450570519.png",
      "Content".to_sym => "模擬人生3只有主程式聽說很空虛\nDLC全部買太貴了\n有哪些DLC是必買的?\n我想買1~2個就好\n最好是增加職業 增加要素那種\n不要單純的增加家具衣服款式那種"
    },
    {
      "Title".to_sym => "無題",
      "Name".to_sym => "",
      "Date".to_sym => "17/07/31",
      "Time".to_sym => "05:32:01",
      "Id".to_sym => "gX5xdBJM",
      "No".to_sym => "9562222",
      "Picture".to_sym => "1501450321259.jpg",
      "Content".to_sym => "無本文"
    },
    {
      "Title".to_sym => "無題",
      "Name".to_sym => "",
      "Date".to_sym => "17/07/31",
      "Time".to_sym => "05:13:12",
      "Id".to_sym => "vFszNBkw",
      "No".to_sym => "9562136",
      "Content".to_sym => "原來颱風天的清晨是橘紅色的\n可惜手機拍不出這種感覺"
    },
    {
      "Title".to_sym => "無題",
      "Name".to_sym => "",
      "Date".to_sym => "17/07/31",
      "Time".to_sym => "05:00:18",
      "Id".to_sym => "WgeoaOvk",
      "No".to_sym => "9562102",
      "Picture".to_sym => "1501448418853.jpg",
      "Content".to_sym => "應該已經被打死了吧\n達人變死人"
    },
    {
      "Title".to_sym => "無題",
      "Name".to_sym => "",
      "Date".to_sym => "17/07/31",
      "Time".to_sym => "04:55:52",
      "Id".to_sym => "lwH3kzgg",
      "No".to_sym => "9562093",
      "Picture".to_sym => "1501448152807.jpg",
      "Content".to_sym => "之前那個Ban IP腳本\n改版後沒更新\n不能用了真的可惜"
    },
    {
      "Title".to_sym => "無題",
      "Name".to_sym => "",
      "Date".to_sym => "17/07/31",
      "Time".to_sym => "04:43:07",
      "Id".to_sym => "wJJsjU8Y",
      "No".to_sym => "9562070",
      "Picture".to_sym => "1501447387139.jpg",
      "Content".to_sym => "臉書po文恐嚇嗆殺議員　憂鬱男遭訴\n2017/07/30 14:38 6\n台北市議員王欣儀、立委顏寬恆、花蓮縣長傅崐萁等人，去年底遭人在臉書上貼文恐嚇，留言內容包括威脅施放汽油彈，製作顏寬恆的遺照張貼在顏的臉書上，甚至撰寫「姦殺妳」、「槍殺」等恐嚇字詞，眾人報警後，檢警查出，罹患憂鬱症的37歲黃姓男子涉案，搜索黃男住處，查出電腦中有多則恐嚇殺害訊息，黃男也坦承犯案，台北地檢署日前依恐嚇危安等罪起訴黃男。\n檢警調查，黃男是電腦工程師，曾有恐嚇、妨害風化等前科，對政治特別狂熱，時常收看政論節目，且罹患憂鬱症，疑似不滿王欣儀等人的政治立場，才留言恐嚇。\n去年底黃男為了躲避查緝，刻意隱藏IP，利用日本VPN當跳板，再冒用他人身分設立假帳號發文。陸續到台北市議員王欣儀的臉書，以帳號「韓立德」、「殺掉王欣儀母子-歡迎報警查IP」、「Asdasdasd Asdasdasd」及「Naiiara Carvalho」等網友刊登恐嚇殺害等訊息，還在臉書上PO文揚言「槍殺傅崑萁」，罵前市議員鍾小平「色情狂」等字詞。\n檢警搜索黃男住處，果然查出相關恐嚇訊息，黃男也坦承犯案\n\n>甚至撰寫「姦殺妳」、「槍殺」\n>電腦工程師\n>恐嚇、妨害風化等前科\n>對政治特別狂熱\n>罹患憂鬱症\n\n3.0網軍不意外"
    },
    {
      "Title".to_sym => "無題",
      "Name".to_sym => "",
      "Date".to_sym => "17/07/31",
      "Time".to_sym => "04:40:50",
      "Id".to_sym => "aqxPV3ZA",
      "No".to_sym => "9562063",
      "Picture".to_sym => "1501447250961.png",
      "Content".to_sym => "無本文"
    },
    {
      "Title".to_sym => "無題",
      "Name".to_sym => "",
      "Date".to_sym => "17/07/31",
      "Time".to_sym => "04:38:33",
      "Id".to_sym => "1kl7Rzg2",
      "No".to_sym => "9562057",
      "Picture".to_sym => "1501447113690.jpg",
      "Content".to_sym => "無本文"
    },
    {
      "Title".to_sym => "無題",
      "Name".to_sym => "",
      "Date".to_sym => "17/07/31",
      "Time".to_sym => "04:25:40",
      "Id".to_sym => "gX5xdBJM",
      "No".to_sym => "9562025",
      "Picture".to_sym => "1501446340390.gif",
      "Content".to_sym => "SZYBCIEEEEEEJ"
    },
    {
      "Title".to_sym => "無題",
      "Name".to_sym => "",
      "Date".to_sym => "17/07/31",
      "Time".to_sym => "04:21:59",
      "Id".to_sym => "UGc9xSAo",
      "No".to_sym => "9562016",
      "Picture".to_sym => "1501446119993.gif",
      "Content".to_sym => "zawisnie w lesie kurwa co doniesie"
    },
    {
      "Title".to_sym => "無題",
      "Name".to_sym => "",
      "Date".to_sym => "17/07/31",
      "Time".to_sym => "03:46:39",
      "Id".to_sym => "Yi19cWPY",
      "No".to_sym => "9561966",
      "Picture".to_sym => "1501443999392.jpg",
      "Content".to_sym => "台中風雨變的有點大…"
    },
    {
      "Title".to_sym => "無題",
      "Name".to_sym => "",
      "Date".to_sym => "17/07/31",
      "Time".to_sym => "03:02:29",
      "Id".to_sym => "rLJ0kJZE",
      "No".to_sym => "9561885",
      "Picture".to_sym => "1501441349871.jpg",
      "Content".to_sym => "丸......"
    }
  ]
%>
<link rel="stylesheet" type="text/css" href="http://rem.komica2.net/common/css/mainstyle.css"/>
<h1>今日 沒人理你 一覽</h1>
<span style="float: right">最近可能的更新時間: <%= File.new(__FILE__).mtime %></span>
<hr>
<% posts.each do |post| %>
<%= erb :post, :locals => { :post => post } %><hr>
<% end %>
