
<%
  posts =
    [
      {
        "Title".to_sym => "無題",
        "Name".to_sym => "",
        "Date".to_sym => "17/07/30",
        "Time".to_sym => "16:50:27",
        "Id".to_sym => "8f46VA0U",
        "No".to_sym => "9558265",
        "Content".to_sym => "https://www.youtube.com/watch?v=3970nnYwsog"
      },
      {
        "Title".to_sym => "無題",
        "Name".to_sym => "",
        "Date".to_sym => "17/07/30",
        "Time".to_sym => "16:43:03",
        "Id".to_sym => "1ZxX4ZW2",
        "No".to_sym => "9558203",
        "Picture".to_sym => "1501404183427.jpg",
        "Content".to_sym => "此時可憐的小露娜還不知道自己接下來的命運"
      },
      {
        "Title".to_sym => "無題",
        "Name".to_sym => "",
        "Date".to_sym => "17/07/30",
        "Time".to_sym => "16:38:18",
        "Id".to_sym => "db5oCaxg",
        "No".to_sym => "9558170",
        "Picture".to_sym => "1501403898257.png",
        "Content".to_sym => "無本文"
      },
      {
        "Title".to_sym => "無題",
        "Name".to_sym => "",
        "Date".to_sym => "17/07/30",
        "Time".to_sym => "16:33:45",
        "Id".to_sym => "zPFqh35U",
        "No".to_sym => "9558142",
        "Picture".to_sym => "1501403625561.jpg",
        "Content".to_sym => "剛剛撈到一台愛莉\n可是商店沒賣紫色噴霧\n怎麼辦?"
      },
      {
        "Title".to_sym => "無題",
        "Name".to_sym => "",
        "Date".to_sym => "17/07/30",
        "Time".to_sym => "16:29:23",
        "Id".to_sym => "5yIx6O52",
        "No".to_sym => "9558116",
        "Picture".to_sym => "1501403363881.png",
        "Content".to_sym => "為什麼會有人去看動漫的電影版啊？\n感覺就是在消費原作的"
      },
      {
        "Title".to_sym => "無題",
        "Name".to_sym => "",
        "Date".to_sym => "17/07/30",
        "Time".to_sym => "16:08:26",
        "Id".to_sym => "Qe7MmXzI",
        "No".to_sym => "9557991",
        "Picture".to_sym => "1501402106563.png",
        "Content".to_sym => "...."
      },
      {
        "Title".to_sym => "無題",
        "Name".to_sym => "",
        "Date".to_sym => "17/07/30",
        "Time".to_sym => "16:08:10",
        "Id".to_sym => "y4BdePnw",
        "No".to_sym => "9557987",
        "Content".to_sym => "風雨稍歇信義區湧人潮　不時強風害他追著氣球跑\n2017/07/30 15:10 616\n尼莎颱風快閃離台，雖海棠颱風下午起接力陸續從南增強影響，但北市風雨暫歇，不少北市民眾也趁著空擋到信義區逛街、看電影，美食街、餐廳等都湧入人潮，但現場不時仍出現強陣風，連造型汽球街頭藝人家當都一度被吹跑。\n今包含太平洋SOGO、遠東百貨、環球購物中心包含北市分店在內全台分店今都決定照常營業，包含信義新天地等新光三越分店則延後至下午2時才開門營業，雖受到颱風影響，信義新天地中間香堤廣場人潮不若平時週日多，連街頭藝人也都是下午才開始擺攤，但已可看到民眾逐漸聚集中。\n不過現場仍不時出現強風，剛擺攤的造型氣球街頭藝人的氣球、招牌都一度被風吹走，害得老闆得追著氣球跑。\n帶著全家出門的民眾吳先生表示，好好的週末假日都被颱風攪局，昨天已經悶了１天，今天趁著空檔帶家人出來透透氣。民眾陳小姐表示，颱風天沒法去郊外，只好就近在市區殺時間，不過應該逛一下、吃個晚飯就會提早回家，畢竟還有颱風要來。"
      },
      {
        "Title".to_sym => "無題",
        "Name".to_sym => "",
        "Date".to_sym => "17/07/30",
        "Time".to_sym => "16:08:03",
        "Id".to_sym => "7bDq7VU6",
        "No".to_sym => "9557986",
        "Picture".to_sym => "1501402083490.jpg",
        "Content".to_sym => "摳捨跟名媛是不是高級妓女？"
      },
      {
        "Title".to_sym => "無題",
        "Name".to_sym => "",
        "Date".to_sym => "17/07/30",
        "Time".to_sym => "16:05:36",
        "Id".to_sym => "FpGGJU2Q",
        "No".to_sym => "9557960",
        "Content".to_sym => "最近有一個網頁點擊廣告,打到電視上了.\n是一個旅遊訂房網站.\n\n我記得那原本是網頁旁邊的點擊廣告,\n和彈出式視窗廣告,\n後來不知道從何時開始,出現在電視上了,\n特別是數位副頻超多.\n\n為什麼點擊廣告,有辦法打到電視上?\n\n我提示一下,那個訂房網站,\n是用 travel 和 go 這兩個字組合起來的變體."
      },
      {
        "Title".to_sym => "無題",
        "Name".to_sym => "",
        "Date".to_sym => "17/07/30",
        "Time".to_sym => "16:01:23",
        "Id".to_sym => "db5oCaxg",
        "No".to_sym => "9557936",
        "Picture".to_sym => "1501401683645.jpg",
        "Content".to_sym => "無本文"
      },
      {
        "Title".to_sym => "無題",
        "Name".to_sym => "",
        "Date".to_sym => "17/07/30",
        "Time".to_sym => "15:40:45",
        "Id".to_sym => "db5oCaxg",
        "No".to_sym => "9557792",
        "Picture".to_sym => "1501400445056.jpg",
        "Content".to_sym => "無本文"
      },
      {
        "Title".to_sym => "無題",
        "Name".to_sym => "",
        "Date".to_sym => "17/07/30",
        "Time".to_sym => "15:38:40",
        "Id".to_sym => "E9gJPIek",
        "No".to_sym => "9557775",
        "Picture".to_sym => "1501400320086.jpg",
        "Content".to_sym => "無本文"
      },
      {
        "Title".to_sym => "無題",
        "Name".to_sym => "",
        "Date".to_sym => "17/07/30",
        "Time".to_sym => "15:35:57",
        "Id".to_sym => "QwA59gbY",
        "No".to_sym => "9557761",
        "Picture".to_sym => "1501400157049.jpg",
        "Content".to_sym => "好像畫風越來越像karory?"
      },
      {
        "Title".to_sym => "無題",
        "Name".to_sym => "",
        "Date".to_sym => "17/07/30",
        "Time".to_sym => "15:32:52",
        "Id".to_sym => "0TJigIH.",
        "No".to_sym => "9557745",
        "Content".to_sym => "幹你娘種花電信\n明明是住桃園\n怎麼跑個K島都快卡死了"
      },
      {
        "Title".to_sym => "無題",
        "Name".to_sym => "",
        "Date".to_sym => "17/07/30",
        "Time".to_sym => "15:17:01",
        "Id".to_sym => "rw1oIf9M",
        "No".to_sym => "9557667",
        "Picture".to_sym => "1501399021224.jpg",
        "Content".to_sym => "子曰：「新番時習之，不亦說乎？有朋自遠方來，不可能乎？人不知而不慍，不亦肥宅乎？」\n\n\t\n子曰：「其為人也宅宅，而好犯上者，鮮矣；不好犯上，而好作亂者，未之有也。肥宅務本，本立而道生。宅宅也者，其為仁之本與！」\n\t\n子曰：「巧言潮潮，鮮矣仁！」\n\t\t\n子曰：「吾日三省吾身：為人謀而不廚乎？與老婆交而不信乎？被傳教新番不習乎？」\n\n子曰：「道千乘之新番：敬事而信，節用而愛人，使追番以時。」\n\n子曰：「弟子入則宅，出則偽裝，謹而信，汎愛眾，而親仁。行有餘力，則追舊番。」\n\t\n子曰：「賢賢易色，買周邊能竭其力，玩遊戲能致其身，與朋友交言必新番。雖曰未宅，吾必謂之宅矣。」\n\t\n子曰：「肥宅不重則不威，宅則不固。主忠信，無友，不如己者，肥則勿憚改。」\n\n子曰：「慎終追番，宅德歸厚矣。」"
      },
      {
        "Title".to_sym => "無題",
        "Name".to_sym => "",
        "Date".to_sym => "17/07/30",
        "Time".to_sym => "15:05:50",
        "Id".to_sym => "db5oCaxg",
        "No".to_sym => "9557614",
        "Picture".to_sym => "1501398350605.jpg",
        "Content".to_sym => "無本文"
      },
      {
        "Title".to_sym => "魅．力．無限! infiniti Q50s",
        "Name".to_sym => "",
        "Date".to_sym => "17/07/30",
        "Time".to_sym => "14:56:19",
        "Id".to_sym => "ecPJlXN6",
        "No".to_sym => "9557569",
        "Picture".to_sym => "1501397779835.jpg",
        "Content".to_sym => "(I can’t wait) I can’t wait to the day I make it\n(I can’t wait) I can’t wait, no, I cannot fake it\n(I can’t wait) I can’t wait to the day I shine\n(I can’t wait) I can’t wait to the game is mine\n‘Cause I’ve been grinding hard\nEveryday that I guess is a waste\nFrom different places\nAnd I’ve been grinding hard\nTil’ the day that I ache\n\nNo, I can’t wait"
      },
      {
        "Title".to_sym => "無題",
        "Name".to_sym => "",
        "Date".to_sym => "17/07/30",
        "Time".to_sym => "14:53:01",
        "Id".to_sym => "eKR//f/A",
        "No".to_sym => "9557552",
        "Content".to_sym => "https://www.youtube.com/watch?v=l7-Ccp6ybC8"
      },
      {
        "Title".to_sym => "無題",
        "Name".to_sym => "",
        "Date".to_sym => "17/07/30",
        "Time".to_sym => "14:51:53",
        "Id".to_sym => "osLrzqeM",
        "No".to_sym => "9557543",
        "Picture".to_sym => "1501397513072.jpg",
        "Content".to_sym => "有夠臭"
      },
      {
        "Title".to_sym => "無題",
        "Name".to_sym => "",
        "Date".to_sym => "17/07/30",
        "Time".to_sym => "14:49:17",
        "Id".to_sym => "db5oCaxg",
        "No".to_sym => "9557535",
        "Picture".to_sym => "1501397357540.png",
        "Content".to_sym => "無本文"
      },
      {
        "Title".to_sym => "無題",
        "Name".to_sym => "",
        "Date".to_sym => "17/07/30",
        "Time".to_sym => "14:46:25",
        "Id".to_sym => "J3KDvtNc",
        "No".to_sym => "9557527",
        "Picture".to_sym => "1501397185089.jpg",
        "Content".to_sym => "無本文"
      },
      {
        "Title".to_sym => "無題",
        "Name".to_sym => "",
        "Date".to_sym => "17/07/30",
        "Time".to_sym => "14:42:42",
        "Id".to_sym => "J3KDvtNc",
        "No".to_sym => "9557514",
        "Picture".to_sym => "1501396962562.jpg",
        "Content".to_sym => "無本文"
      },
      {
        "Title".to_sym => "無題",
        "Name".to_sym => "",
        "Date".to_sym => "17/07/30",
        "Time".to_sym => "14:22:14",
        "Id".to_sym => "gWEfdJ/I",
        "No".to_sym => "9557409",
        "Picture".to_sym => "1501395734697.png",
        "Content".to_sym => "恩奇督寶三 一定是我FF沒出他的詛咒 900%鑽人摟"
      },
      {
        "Title".to_sym => "無題",
        "Name".to_sym => "",
        "Date".to_sym => "17/07/30",
        "Time".to_sym => "13:58:17",
        "Id".to_sym => "YabPnEEc",
        "No".to_sym => "9557266",
        "Picture".to_sym => "1501394297600.jpg",
        "Content".to_sym => "https://www.youtube.com/watch?v=3970nnYwsog\n那個....不要看聊天室\n來看幼女ㄅ"
      },
      {
        "Title".to_sym => "無題",
        "Name".to_sym => "",
        "Date".to_sym => "17/07/30",
        "Time".to_sym => "13:54:11",
        "Id".to_sym => "UyrAyuPY",
        "No".to_sym => "9557245",
        "Picture".to_sym => "1501394051046.jpg",
        "Content".to_sym => "台南起風了\n大雨要來啦"
      },
      {
        "Title".to_sym => "無題",
        "Name".to_sym => "",
        "Date".to_sym => "17/07/30",
        "Time".to_sym => "13:51:19",
        "Id".to_sym => "J3KDvtNc",
        "No".to_sym => "9557234",
        "Content".to_sym => "https://www.youtube.com/watch?v=Kaib09GnwlQ\n\n\n《Thunderbolt Fantasy 生死一劍》"
      },
      {
        "Title".to_sym => "無題",
        "Name".to_sym => "",
        "Date".to_sym => "17/07/30",
        "Time".to_sym => "13:43:50",
        "Id".to_sym => "mri3bse.",
        "No".to_sym => "9557193",
        "Picture".to_sym => "1501393430621.jpg",
        "Content".to_sym => "引頸期盼 :D"
      },
      {
        "Title".to_sym => "無題",
        "Name".to_sym => "",
        "Date".to_sym => "17/07/30",
        "Time".to_sym => "13:41:01",
        "Id".to_sym => "Bu3q5iUc",
        "No".to_sym => "9557175",
        "Picture".to_sym => "1501393261257.jpg",
        "Content".to_sym => "無本文"
      },
      {
        "Title".to_sym => "無題",
        "Name".to_sym => "",
        "Date".to_sym => "17/07/30",
        "Time".to_sym => "13:40:05",
        "Id".to_sym => "W87I0iH6",
        "No".to_sym => "9557167",
        "Picture".to_sym => "1501393205571.jpg",
        "Content".to_sym => "阿......阿狗....."
      },
      {
        "Title".to_sym => "無題",
        "Name".to_sym => "",
        "Date".to_sym => "17/07/30",
        "Time".to_sym => "13:31:26",
        "Id".to_sym => "82OIlFdw",
        "No".to_sym => "9557120",
        "Picture".to_sym => "1501392686653.png",
        "Content".to_sym => "無本文"
      },
      {
        "Title".to_sym => "無題",
        "Name".to_sym => "",
        "Date".to_sym => "17/07/30",
        "Time".to_sym => "13:18:20",
        "Id".to_sym => "zOAiXrww",
        "No".to_sym => "9557051",
        "Picture".to_sym => "1501391900630.png",
        "Content".to_sym => "港狗丸在嗎?(設計對白)"
      },
      {
        "Title".to_sym => "無題",
        "Name".to_sym => "",
        "Date".to_sym => "17/07/30",
        "Time".to_sym => "13:12:02",
        "Id".to_sym => "bhfhlFiA",
        "No".to_sym => "9557008",
        "Content".to_sym => "https://www.youtube.com/watch?v=D7YlCLaWXdc\n\n馬的一番の宝物明明就難聽死了\n硬是被key廚給捧成神曲 \n還什麼動漫界百大歌曲勒~ 鳥肌個屌勒~~\n\n動漫界之所以被藝術圈拒於門外就是因為你們這些沒眼光又愛裝大師的死宅男啦!\n\"原來動漫界所謂神曲就是這種鳥喔~~\"!!\n向大眾推薦這種糞曲也難怪大眾藝術總是將動漫列為次文化~~"
      },
      {
        "Title".to_sym => "無題",
        "Name".to_sym => "",
        "Date".to_sym => "17/07/30",
        "Time".to_sym => "13:06:21",
        "Id".to_sym => "82OIlFdw",
        "No".to_sym => "9556984",
        "Content".to_sym => "https://youtu.be/mJPIui90H4A"
      },
      {
        "Title".to_sym => "無題",
        "Name".to_sym => "",
        "Date".to_sym => "17/07/30",
        "Time".to_sym => "13:05:33",
        "Id".to_sym => "PqGbB9g2",
        "No".to_sym => "9556978",
        "Picture".to_sym => "1501391133004.jpg",
        "Content".to_sym => "可愛"
      },
      {
        "Title".to_sym => "無題",
        "Name".to_sym => "",
        "Date".to_sym => "17/07/30",
        "Time".to_sym => "12:58:12",
        "Id".to_sym => "ENFzlOsw",
        "No".to_sym => "9556928",
        "Picture".to_sym => "1501390692256.jpg",
        "Content".to_sym => "正造、由紀、秋子は三人兄弟。母子家庭で育ったこともあり、三人で寄り添い助け合いながら育ったため、とても仲の良い兄弟だった。\nそのおかげで、長男の正造はブラコンでシスコン。弟と妹を異常に可愛がってはいたが、あくまで仲の良い兄弟だった。\n弟とキスをするその日までは。\n\n最初は酔った勢いの小さな出來事。だが、それが抑えられていた思いを加速させ、その日を境に兄と弟は一線を越え始める。"
      },
      {
        "Title".to_sym => "無題",
        "Name".to_sym => "",
        "Date".to_sym => "17/07/30",
        "Time".to_sym => "12:51:56",
        "Id".to_sym => "B65D3LNQ",
        "No".to_sym => "9556883",
        "Picture".to_sym => "1501390316645.webm",
        "Content".to_sym => "無本文"
      },
      {
        "Title".to_sym => "無題",
        "Name".to_sym => "",
        "Date".to_sym => "17/07/30",
        "Time".to_sym => "12:51:09",
        "Id".to_sym => "ENFzlOsw",
        "No".to_sym => "9556875",
        "Picture".to_sym => "1501390269963.jpg",
        "Content".to_sym => "無本文"
      },
      {
        "Title".to_sym => "無題",
        "Name".to_sym => "",
        "Date".to_sym => "17/07/30",
        "Time".to_sym => "12:41:00",
        "Id".to_sym => "84nAekHQ",
        "No".to_sym => "9556790",
        "Content".to_sym => "賣劍買牛"
      },
      {
        "Title".to_sym => "無題",
        "Name".to_sym => "",
        "Date".to_sym => "17/07/30",
        "Time".to_sym => "12:40:49",
        "Id".to_sym => "GKQujavM",
        "No".to_sym => "9556788",
        "Picture".to_sym => "1501389649409.jpg",
        "Content".to_sym => "抓了一部盾子跟一部識貨的COS片子下來看\n盾子那片就自摸完之後拿按摩棒自慰\n雖然只有20分鐘不過有4K畫質\n說真的還是實在尻不起來\n識貨那片雖然有本番\n不過拍攝是拿手持攝影機不然就放旁邊拍\n影片角度爛到整個有剩\n兩片都很努力想尻不過還是尻不起來\n最後還是拿圖庫跟薄本當配菜尻起來比較爽\n我覺得艦娘跟FATE根本不用玩遊戲\n知道裡面有哪些騷角色叫什麼\n然後收收圖找本尻尻就好\n看一堆人在那邊佛心公司佛心公司幹你田中幹你田中\n不用不用 我一個人默默的射精就好"
      },
      {
        "Title".to_sym => "無題",
        "Name".to_sym => "",
        "Date".to_sym => "17/07/30",
        "Time".to_sym => "12:35:33",
        "Id".to_sym => "QuMml58k",
        "No".to_sym => "9556745",
        "Picture".to_sym => "1501389333491.jpg",
        "Content".to_sym => "無本文"
      },
      {
        "Title".to_sym => "無題",
        "Name".to_sym => "",
        "Date".to_sym => "17/07/30",
        "Time".to_sym => "12:28:35",
        "Id".to_sym => "J10ibadI",
        "No".to_sym => "9556700",
        "Content".to_sym => "新北市1名43歲廖姓男子，14日向TOYOTA北都安坑營業所購買價值200多萬元的Sienna，交車後不到一個星期，竟發現車子底盤有多處鏽蝕，防鏽漆未塗完整，引擎塗裝上也明顯看出有缺失，還有漏油的情況，膠管明顯老化，廖男怒：「花二百多萬結果竟買到生鏽車。」北都汽車則回應：「部份零件為鑄鐵材質，產生鏽斑屬正常，不美觀但不影響行車安全」\n\n睜眼說瞎話"
      },
      {
        "Title".to_sym => "無題",
        "Name".to_sym => "",
        "Date".to_sym => "17/07/30",
        "Time".to_sym => "12:26:39",
        "Id".to_sym => "Ph/r/BlU",
        "No".to_sym => "9556691",
        "Picture".to_sym => "1501388799738.jpg",
        "Content".to_sym => "【蘿莉】不能抓雞雞\n\nhttps://www.youtube.com/watch?v=pIbLCdr3nAU\n\n警察叔叔，就是他!!!!!"
      },
      {
        "Title".to_sym => "無題",
        "Name".to_sym => "",
        "Date".to_sym => "17/07/30",
        "Time".to_sym => "12:22:23",
        "Id".to_sym => "nS1C36Ew",
        "No".to_sym => "9556661",
        "Picture".to_sym => "1501388543044.jpg",
        "Content".to_sym => "鹿島屁眼 臭!"
      },
      {
        "Title".to_sym => "無題",
        "Name".to_sym => "",
        "Date".to_sym => "17/07/30",
        "Time".to_sym => "12:17:51",
        "Id".to_sym => "bhfhlFiA",
        "No".to_sym => "9556620",
        "Picture".to_sym => "1501388271684.jpg",
        "Content".to_sym => "每次跟我妹妹哭訴被女生打槍時她都會露出很不屑的表情\n說什麼自己國一就已經交過男友有了第一次 \n高中同時跟幾個學長在一起 大學透過FB跟好幾個外國人做愛\n即使現在有特定男友LINE上面還是有好幾個砲友\n常常跟幾個同性死黨一起參加亂交趴\n自己哥哥卻還是處男有夠丟臉...\n\n接著命令我把褲子脫掉躺平\n一邊用腳趾夾住我的雞雞搓揉 一邊卻繼續滑手機LINE聊天\n內容不外乎是向友人靠杯又要幫童貞老哥性慾處理有夠噁心\n要不就是跟男友視訊露奶 看著男友的大雞巴自慰\n常常搞到噴尿在我臉上...\n\n過程完全不看我一眼直到射精...其實一般不會超過1分鐘啦(苦笑\n事後將沾在腳上的精液抹在我肚子上 \n還拍了幾張我的短小包莖雞巴射精照片 \n跟她的砲友巨屌照片放一起傳給友人分享笑笑~~\n接著就跑去浴室洗腳了......"
      },
      {
        "Title".to_sym => "無題",
        "Name".to_sym => "",
        "Date".to_sym => "17/07/30",
        "Time".to_sym => "12:13:30",
        "Id".to_sym => "XaT1Zh5I",
        "No".to_sym => "9556593",
        "Content".to_sym => "盧貝松為什花二十年做一個怪獸像迪士尼卡通的千星之城\n露西還比較好\n盧貝松以後的電影也不能期待什麼了吧"
      },
      {
        "Title".to_sym => "老家談都更破局了",
        "Name".to_sym => "",
        "Date".to_sym => "17/07/30",
        "Time".to_sym => "12:07:26",
        "Id".to_sym => "DeR4gzzQ",
        "No".to_sym => "9556546",
        "Picture".to_sym => "1501387646936.jpg",
        "Content".to_sym => "老舊公寓換大樓公寓價格翻倍後\n\n賣掉拿頭期款到偏僻鄉下買透天後\n\n剩下錢慢慢繳十年房貸跟省省過日子每天待家裡當尼特上島聊天的夢想幻滅\n\n日本動漫常有抱怨待鄉下沒意思的學生年輕人\n\n但其實到了一個年紀就會發現鄉下沒太多不好的地方\n\n反正有網路就夠了"
      },
      {
        "Title".to_sym => "無題",
        "Name".to_sym => "",
        "Date".to_sym => "17/07/30",
        "Time".to_sym => "11:52:40",
        "Id".to_sym => "jXTn4DXI",
        "No".to_sym => "9556437",
        "Picture".to_sym => "1501386760191.jpg",
        "Content".to_sym => "廢物泥沙\n廢物海糖\n很會挑 都周末來\n禮拜一放不到假了 幹你娘"
      },
      {
        "Title".to_sym => "無題",
        "Name".to_sym => "",
        "Date".to_sym => "17/07/30",
        "Time".to_sym => "11:31:03",
        "Id".to_sym => "xXqGHfP6",
        "No".to_sym => "9556297",
        "Picture".to_sym => "1501385463903.jpg",
        "Content".to_sym => "太過分了\n都不給新手飯吃"
      },
      {
        "Title".to_sym => "無題",
        "Name".to_sym => "",
        "Date".to_sym => "17/07/30",
        "Time".to_sym => "11:24:25",
        "Id".to_sym => "v.XdHJZ2",
        "No".to_sym => "9556255",
        "Content".to_sym => "請留步，聽我說個故事"
      },
      {
        "Title".to_sym => "無題",
        "Name".to_sym => "",
        "Date".to_sym => "17/07/30",
        "Time".to_sym => "11:15:01",
        "Id".to_sym => "cBnCKhrI",
        "No".to_sym => "9556203",
        "Picture".to_sym => "1501384501113.jpg",
        "Content".to_sym => "剛剛出去買午餐居然有9成的店家都沒開\n以往大風大雨都沒人休息\n今天一個大太陽的颱風天都休假\n慣老闆良心發現了？"
      },
      {
        "Title".to_sym => "無題",
        "Name".to_sym => "",
        "Date".to_sym => "17/07/30",
        "Time".to_sym => "11:07:10",
        "Id".to_sym => "Y.CdG8ZY",
        "No".to_sym => "9556175",
        "Picture".to_sym => "1501384030453.jpg",
        "Content".to_sym => "麥當當真的很懂"
      },
      {
        "Title".to_sym => "無題",
        "Name".to_sym => "",
        "Date".to_sym => "17/07/30",
        "Time".to_sym => "11:00:36",
        "Id".to_sym => "YePJFIBw",
        "No".to_sym => "9556135",
        "Picture".to_sym => "1501383636149.jpg",
        "Content".to_sym => "發布的標準\n\n發生各種天災時，只要符合以下任一標準，權責機關就可以發布停班停課。\n\n一、風力：依照氣象預報，颱風暴風半徑於四小時內可能經過的地區，其平均風力達到七級風或陣風達到十級風。\n\n柯領導的粉絲再護航嘛\n事實就是台灣地方首長看到是假日就亂搞\n一般上班日絕對不可能會放假的啦"
      },
      {
        "Title".to_sym => "無題",
        "Name".to_sym => "",
        "Date".to_sym => "17/07/30",
        "Time".to_sym => "10:57:06",
        "Id".to_sym => "GNPoe8Yg",
        "No".to_sym => "9556112",
        "Picture".to_sym => "1501383426896.jpg",
        "Content".to_sym => "YEAH!"
      },
      {
        "Title".to_sym => "無題",
        "Name".to_sym => "",
        "Date".to_sym => "17/07/30",
        "Time".to_sym => "10:47:21",
        "Id".to_sym => "sqVZRS7.",
        "No".to_sym => "9556065",
        "Picture".to_sym => "1501382841779.jpg",
        "Content".to_sym => "姦娘就是色情= ="
      },
      {
        "Title".to_sym => "無題",
        "Name".to_sym => "",
        "Date".to_sym => "17/07/30",
        "Time".to_sym => "10:28:44",
        "Id".to_sym => "1F4A77dc",
        "No".to_sym => "9555970",
        "Picture".to_sym => "1501381724071.jpg",
        "Content".to_sym => "今天取消ㄛ"
      },
      {
        "Title".to_sym => "無題",
        "Name".to_sym => "",
        "Date".to_sym => "17/07/30",
        "Time".to_sym => "10:21:33",
        "Id".to_sym => "M/bX35rw",
        "No".to_sym => "9555943",
        "Picture".to_sym => "1501381293981.jpg",
        "Content".to_sym => "有普妹被漁夫給纏上了，我應該要上去幫忙?"
      },
      {
        "Title".to_sym => "無題",
        "Name".to_sym => "",
        "Date".to_sym => "17/07/30",
        "Time".to_sym => "10:15:58",
        "Id".to_sym => "zRjfkPmU",
        "No".to_sym => "9555928",
        "Picture".to_sym => "1501380958984.jpg",
        "Content".to_sym => "無本文"
      },
      {
        "Title".to_sym => "無題",
        "Name".to_sym => "",
        "Date".to_sym => "17/07/30",
        "Time".to_sym => "09:59:01",
        "Id".to_sym => "GNPoe8Yg",
        "No".to_sym => "9555879",
        "Picture".to_sym => "1501379941573.gif",
        "Content".to_sym => "尼莎 災情"
      },
      {
        "Title".to_sym => "無題",
        "Name".to_sym => "",
        "Date".to_sym => "17/07/30",
        "Time".to_sym => "09:45:50",
        "Id".to_sym => "PA8GCZjE",
        "No".to_sym => "9555833",
        "Picture".to_sym => "1501379150149.png",
        "Content".to_sym => "封頂了封頂了"
      },
      {
        "Title".to_sym => "無題",
        "Name".to_sym => "",
        "Date".to_sym => "17/07/30",
        "Time".to_sym => "09:45:40",
        "Id".to_sym => "pXzmjyyU",
        "No".to_sym => "9555832",
        "Picture".to_sym => "1501379140647.png",
        "Content".to_sym => "「第37回・今週のリナちゃん～卑猥な砂像～」→https://goo.gl/cXmwuG"
      },
      {
        "Title".to_sym => "無題",
        "Name".to_sym => "",
        "Date".to_sym => "17/07/30",
        "Time".to_sym => "09:37:30",
        "Id".to_sym => "3.FMJ056",
        "No".to_sym => "9555800",
        "Picture".to_sym => "1501378650774.jpg",
        "Content".to_sym => "=。="
      },
      {
        "Title".to_sym => "無題",
        "Name".to_sym => "",
        "Date".to_sym => "17/07/30",
        "Time".to_sym => "09:34:28",
        "Id".to_sym => "s6YoTncU",
        "No".to_sym => "9555793",
        "Picture".to_sym => "1501378468922.jpg",
        "Content".to_sym => "什麼樣的窮人會在颱風天後去漁港挖蚵ㄚ吃？"
      },
      {
        "Title".to_sym => "無題",
        "Name".to_sym => "",
        "Date".to_sym => "17/07/30",
        "Time".to_sym => "09:25:45",
        "Id".to_sym => "T.4OhhI.",
        "No".to_sym => "9555758",
        "Picture".to_sym => "1501377945831.jpg",
        "Content".to_sym => "晨勃島民們射精了嗎？\n\n多射多健康喔！！"
      },
      {
        "Title".to_sym => "無題",
        "Name".to_sym => "",
        "Date".to_sym => "17/07/30",
        "Time".to_sym => "09:16:38",
        "Id".to_sym => "zSbsmAg.",
        "No".to_sym => "9555727",
        "Picture".to_sym => "1501377398599.jpg",
        "Content".to_sym => "有美國島民要一起玩遊戲嗎?\n\n沒有的話我明天再問"
      },
      {
        "Title".to_sym => "無題",
        "Name".to_sym => "",
        "Date".to_sym => "17/07/30",
        "Time".to_sym => "09:14:57",
        "Id".to_sym => "/lgaf50g",
        "No".to_sym => "9555723",
        "Content".to_sym => "小嬰兒一定要這樣來回涮三次才會入味"
      },
      {
        "Title".to_sym => "無題",
        "Name".to_sym => "",
        "Date".to_sym => "17/07/30",
        "Time".to_sym => "09:07:19",
        "Id".to_sym => "vIROIif2",
        "No".to_sym => "9555700",
        "Picture".to_sym => "1501376839942.jpg",
        "Content".to_sym => "這...這下靠北惹"
      },
      {
        "Title".to_sym => "無題",
        "Name".to_sym => "",
        "Date".to_sym => "17/07/30",
        "Time".to_sym => "09:04:13",
        "Id".to_sym => "jqpVvpbk",
        "No".to_sym => "9555689",
        "Picture".to_sym => "1501376653116.jpg",
        "Content".to_sym => "取消ㄛ"
      },
      {
        "Title".to_sym => "無題",
        "Name".to_sym => "",
        "Date".to_sym => "17/07/30",
        "Time".to_sym => "09:01:49",
        "Id".to_sym => "aRChgf4Q",
        "No".to_sym => "9555679",
        "Picture".to_sym => "1501376509304.jpg",
        "Content".to_sym => "取消ㄛ"
      },
      {
        "Title".to_sym => "無題",
        "Name".to_sym => "",
        "Date".to_sym => "17/07/30",
        "Time".to_sym => "08:50:22",
        "Id".to_sym => "M/bX35rw",
        "No".to_sym => "9555649",
        "Picture".to_sym => "1501375822294.jpg",
        "Content".to_sym => "無本文"
      },
      {
        "Title".to_sym => "Woodkid - Run Boy Run (Official HD Video)",
        "Name".to_sym => "",
        "Date".to_sym => "17/07/30",
        "Time".to_sym => "08:43:15",
        "Id".to_sym => "7qc1eges",
        "No".to_sym => "9555627",
        "Picture".to_sym => "1501375395241.png",
        "Content".to_sym => "https://youtu.be/lmc21V-zBq0"
      },
      {
        "Title".to_sym => "無題",
        "Name".to_sym => "",
        "Date".to_sym => "17/07/30",
        "Time".to_sym => "08:39:33",
        "Id".to_sym => "8wFrd8hw",
        "No".to_sym => "9555618",
        "Picture".to_sym => "1501375173575.jpg",
        "Content".to_sym => "我覺得阿\n\nPV之後再無LOVE LIVE"
      },
      {
        "Title".to_sym => "無題",
        "Name".to_sym => "",
        "Date".to_sym => "17/07/30",
        "Time".to_sym => "08:31:22",
        "Id".to_sym => "URb0aRVs",
        "No".to_sym => "9555597",
        "Content".to_sym => "將你和我的愛情 全部敲碎~"
      },
      {
        "Title".to_sym => "無題",
        "Name".to_sym => "",
        "Date".to_sym => "17/07/30",
        "Time".to_sym => "08:22:13",
        "Id".to_sym => "M/bX35rw",
        "No".to_sym => "9555575",
        "Picture".to_sym => "1501374133202.jpg",
        "Content".to_sym => "無本文"
      },
      {
        "Title".to_sym => "無題",
        "Name".to_sym => "",
        "Date".to_sym => "17/07/30",
        "Time".to_sym => "08:11:22",
        "Id".to_sym => "y4BdePnw",
        "No".to_sym => "9555550",
        "Content".to_sym => "瞎妹酒駕釀車禍　害死親妹還只顧現場直播\nhttps://www.youtube.com/watch?v=QhS-lP_-Rkc"
      },
      {
        "Title".to_sym => "無題",
        "Name".to_sym => "",
        "Date".to_sym => "17/07/30",
        "Time".to_sym => "07:11:55",
        "Id".to_sym => "RJb5tNEU",
        "No".to_sym => "9555464",
        "Picture".to_sym => "1501369915746.jpg",
        "Content".to_sym => "無本文"
      },
      {
        "Title".to_sym => "無題",
        "Name".to_sym => "",
        "Date".to_sym => "17/07/30",
        "Time".to_sym => "07:09:45",
        "Id".to_sym => "J10ibadI",
        "No".to_sym => "9555456",
        "Content".to_sym => "針對港媒報導，北大台籍博士生王裕慶認為，現在問題不在大陸對台做什麼，關鍵在蔡政府不要誤判，挑動國際局勢。\n\n「習近平任內要解決台灣問題」，台灣有部分人士擔心，大陸加緊步伐，台灣更無生存空間。對此，王裕慶說，問題關鍵不在大陸採取什麼措施，回歸問題核心，還是蔡英文不肯承認「九二共識」，企圖挑起中美兩國之間的矛盾，希望從中獲取利益。"
      },
      {
        "Title".to_sym => "無題",
        "Name".to_sym => "",
        "Date".to_sym => "17/07/30",
        "Time".to_sym => "07:06:26",
        "Id".to_sym => "ZUIgy6Ew",
        "No".to_sym => "9555450",
        "Picture".to_sym => "1501369586965.jpg",
        "Content".to_sym => "前方~路漫長\n充滿危險與悲傷"
      },
      {
        "Title".to_sym => "無題",
        "Name".to_sym => "",
        "Date".to_sym => "17/07/30",
        "Time".to_sym => "07:03:41",
        "Id".to_sym => "RJb5tNEU",
        "No".to_sym => "9555444",
        "Picture".to_sym => "1501369421994.jpg",
        "Content".to_sym => "無本文"
      },
      {
        "Title".to_sym => "無題",
        "Name".to_sym => "",
        "Date".to_sym => "17/07/30",
        "Time".to_sym => "06:56:12",
        "Id".to_sym => "fpTO2xRw",
        "No".to_sym => "9555427",
        "Picture".to_sym => "1501368972257.png",
        "Content".to_sym => "無本文\n\n(嗚 我想要)"
      },
      {
        "Title".to_sym => "無題",
        "Name".to_sym => "",
        "Date".to_sym => "17/07/30",
        "Time".to_sym => "06:55:30",
        "Id".to_sym => "y4BdePnw",
        "No".to_sym => "9555424",
        "Content".to_sym => "https://twitter.com/ktmrc25O/status/887314888409759744"
      },
      {
        "Title".to_sym => "無題",
        "Name".to_sym => "",
        "Date".to_sym => "17/07/30",
        "Time".to_sym => "06:55:11",
        "Id".to_sym => "RJb5tNEU",
        "No".to_sym => "9555423",
        "Picture".to_sym => "1501368911856.jpg",
        "Content".to_sym => "無本文"
      },
      {
        "Title".to_sym => "無題",
        "Name".to_sym => "",
        "Date".to_sym => "17/07/30",
        "Time".to_sym => "06:55:06",
        "Id".to_sym => "n6MW.rjc",
        "No".to_sym => "9555422",
        "Content".to_sym => "原來柯P自肥員工不讓他們上班\n現在花博場外一堆抗議群眾要求開門"
      },
      {
        "Title".to_sym => "無題",
        "Name".to_sym => "",
        "Date".to_sym => "17/07/30",
        "Time".to_sym => "06:49:00",
        "Id".to_sym => "RJb5tNEU",
        "No".to_sym => "9555416",
        "Picture".to_sym => "1501368540110.jpg",
        "Content".to_sym => "欸嘿嘿"
      },
      {
        "Title".to_sym => "無題",
        "Name".to_sym => "",
        "Date".to_sym => "17/07/30",
        "Time".to_sym => "06:48:13",
        "Id".to_sym => "RR1QNEBw",
        "No".to_sym => "9555415",
        "Picture".to_sym => "1501368493115.png",
        "Content".to_sym => "http://rem.komica2.net/00/pixmicat.php?res=9551308\n上一串的原PO\n自己找到啦\nhttps://www.youtube.com/watch?v=iMYpGoXI77Q\n久石讓跟宮崎駿合作的作品太多\n加上有些地方跟暮蟬的you還有air的夏影有點像，害我一直找錯方向\n最後是嘗試找看看有沒有人把夏影跟you混編在一起才找到\nhttp://www.nicovideo.jp/watch/sm2226445\nhttp://www.nicovideo.jp/watch/sm29634694\n三首串在一起完全無違和"
      },
      {
        "Title".to_sym => "無題",
        "Name".to_sym => "",
        "Date".to_sym => "17/07/30",
        "Time".to_sym => "06:42:22",
        "Id".to_sym => "RJb5tNEU",
        "No".to_sym => "9555397",
        "Picture".to_sym => "1501368142207.jpg",
        "Content".to_sym => "無本文"
      },
      {
        "Title".to_sym => "無題",
        "Name".to_sym => "",
        "Date".to_sym => "17/07/30",
        "Time".to_sym => "06:40:25",
        "Id".to_sym => "RJb5tNEU",
        "No".to_sym => "9555394",
        "Picture".to_sym => "1501368025111.jpg",
        "Content".to_sym => "無本文"
      },
      {
        "Title".to_sym => "無題",
        "Name".to_sym => "",
        "Date".to_sym => "17/07/30",
        "Time".to_sym => "06:36:53",
        "Id".to_sym => "n6MW.rjc",
        "No".to_sym => "9555388",
        "Picture".to_sym => "1501367813689.jpg",
        "Content".to_sym => "台北市艷陽高照卻FF停辦？"
      },
      {
        "Title".to_sym => "無題",
        "Name".to_sym => "",
        "Date".to_sym => "17/07/30",
        "Time".to_sym => "05:12:14",
        "Id".to_sym => ".mJmMMWU",
        "No".to_sym => "9555261",
        "Picture".to_sym => "1501362734138.jpg",
        "Content".to_sym => "幻影旅団＝G"
      },
      {
        "Title".to_sym => "無題",
        "Name".to_sym => "",
        "Date".to_sym => "17/07/30",
        "Time".to_sym => "05:09:14",
        "Id".to_sym => "uom8Dxs2",
        "No".to_sym => "9555255",
        "Picture".to_sym => "1501362554529.jpg",
        "Content".to_sym => "這段劇情表現出了人際關係跟國際間的現實"
      },
      {
        "Title".to_sym => "無題",
        "Name".to_sym => "",
        "Date".to_sym => "17/07/30",
        "Time".to_sym => "05:07:16",
        "Id".to_sym => "xgZN4bLw",
        "No".to_sym => "9555254",
        "Picture".to_sym => "1501362436884.jpg",
        "Content".to_sym => "靠杯ㄛ\n想說颱風夜來大爆射\n結果越玩越難過\n尻尻的心情都沒惹\n我只是想好好尻個槍\n劇情弄那麼悲傷幹嘛啦\n\n目前2跳過先玩3...\n果然還是如島民所說1是最好用的"
      },
      {
        "Title".to_sym => "無題",
        "Name".to_sym => "",
        "Date".to_sym => "17/07/30",
        "Time".to_sym => "03:46:32",
        "Id".to_sym => "lej8kYe2",
        "No".to_sym => "9555193",
        "Picture".to_sym => "1501357592811.jpg",
        "Content".to_sym => "無本文"
      }
    ]
%>
<link rel="stylesheet" type="text/css" href="http://rem.komica2.net/common/css/mainstyle.css"/>
<h1>今日 沒人理你 一覽</h1><hr>
<% posts.each do |post| %>
<%= erb :post, :locals => { :post => post } %><hr>
<% end %>
